/* peralta-regular - latin */
@font-face {
    font-display: swap;
    font-family: 'Peralta';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/peralta-v19-latin-regular.woff2') format('woff2');
}

body {
    margin: 0;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('../../img/bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.center {
    z-index: 999;
    position: fixed;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.keys {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 600;
    color: #ccb800;
    text-shadow: 1px 2px 3px #000000;
}

.interaction-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

#start-button {
    background: linear-gradient(350deg, #cc9600 45%, #ccb800 100%);
    padding: 16px 36px;
    border: none;
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
    border-radius: 8px;
    transition: 500ms;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    font-size: 16px;
    color: #2f3050;
    gap: 12px;
}

#start-button img {
    height: 40px;
    width: 40px;
}

.game-container {
    position: relative;
}

.mute-button-container-desktop {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
}

.mute-button-desktop {
    background: linear-gradient(350deg, #cc9600 45%, #ccb800 100%);
    width: 50px;
    height: 50px;
    border: none;
    background-size: cover;
    border: none;
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.mute-button-desktop img {
    width: 36px;
    height: 36px;
}

.mute-button-container {
    position: absolute;
    display: none;
    justify-content: space-between;
    top: 18px;
    right: 10px;
    right: 10px;
    opacity: 50%;
}

.mute-button {
    background: linear-gradient(350deg, #cc9600 45%, #ccb800 100%);
    width: 75px;
    height: 75px;
    border: none;
    background-size: cover;
    border: none;
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.mute-button img {
    height: 50px;
    width: 50px;
}

.mobile-buttons {
    position: absolute;
    display: none;
    justify-content: space-between;
    bottom: 18px;
    left: 10px;
    right: 10px;
    opacity: 50%;
}

.mobile-buttons img {
    height: 50px;
    width: 50px;
}

.mobile-button {
    background: linear-gradient(350deg, #cc9600 45%, #ccb800 100%);
    width: 75px;
    height: 75px;
    border: none;
    background-size: cover;
    border: none;
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.mobile-left {
    display: flex;
    gap: 8px;
}

.mobile-right {
    display: flex;
    gap: 8px;
}

canvas {
    display: block;
    background-color: #000000;
}

/* Smartphones */
@media only screen and (max-width: 720px) {
    canvas {
        width: 100%;
    }

    #start-screen {
        width: 100%;
        background-size: cover;
    }
}

@media only screen and (max-height: 480px) {
    canvas {
        height: 100dvh;
    }

    #start-screen {
        height: 100dvh;
    }
}

@media (pointer: coarse) {
    .mute-button-container {
        display: flex;
    }

    .mute-button-container-desktop {
        display: none;
    }

    .mobile-buttons {
        display: flex;
    }

    .keys {
        display: none;
    }
}